/* generics */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-family: sans-serif;
    background-color: black;
  }
  
  /* utilities */


  
  .flex{
    display: flex;
  }

  
  .j-center{
    justify-content: center;
  }



  
  .text-center{
    text-align: center;
  }

  /* content */

  
  .container{
    max-width: 1200px;
    margin: auto;
    background-color: cyan;

    height: 300px;
    
    
  }